<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>crTool</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.crtool.gui</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>crTool</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>C2PA / Content Credentials asset</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
				<string>public.png</string>
				<string>public.gif</string>
				<string>public.heic</string>
				<string>public.webp</string>
				<string>public.avif</string>
				<string>public.tiff</string>
				<string>public.svg-image</string>
				<string>public.pdf</string>
				<string>public.mpeg-4</string>
				<string>public.movie</string>
				<string>public.mpeg-4-audio</string>
				<string>public.mp3</string>
				<string>public.wav</string>
				<string>public.avi</string>
				<string>public.data</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
				<string>avif</string>
				<string>c2pa</string>
				<string>dng</string>
				<string>gif</string>
				<string>heic</string>
				<string>heif</string>
				<string>jpg</string>
				<string>jpeg</string>
				<string>m4a</string>
				<string>mov</string>
				<string>mp3</string>
				<string>mp4</string>
				<string>pdf</string>
				<string>png</string>
				<string>svg</string>
				<string>tif</string>
				<string>tiff</string>
				<string>wav</string>
				<string>webp</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
